* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  background-color: #f3f3f3;
}

.flexbox {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 768px;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
  padding: 16px;
}
.flexbox .board {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: #313131;
  padding: 16px;  
}
.flexbox .board .card {
  padding: 16px 24px;
  background-color: #F3F3F3;
  cursor: pointer;
  margin-bottom: 16px;
}
.board-header{
    color: #f3f3f3;
    align-self: center;
    padding: 8px;
    font-weight: bold;
}